.graph{
    width: 95vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    background-color: lightgrey;
}

h1{
    position: absolute;
    top: 30%;
    right: 40%;
}

button{
    position: absolute;
    top: 50%;
    right: 50%;
}

.year{
    width: calc(5% - 2px);
    height: 0px;
    background-color: blue;
    color: black;
    margin-right: 2px;
    margin-bottom: 20px;
    position: relative;
}

.year{
    transition: height 0.4s linear;
}